<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    
    <body> 

        <div class="Header">
            <h1> Jeet Panchal / N01538792 </h1>
        </div>


        <div class="Contents">
            <h1 style="text-align: center; font-size: 50px"> <U style="width: 100%"> Final Project </U> </h1> 
        </div>


        {{{body}}}
        

        <div class="Footer">
            <h1> Email : jeetbpanchal@gmail.com </h1>
        </div>

    </body>
</html>